<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
      <td>Тип дисплея</td>
      <td>{{ product.display_type }}</td>
    </tr>
    <tr>
      <td>Разрешение экрана</td>
      <td>{{ product.resolution }}</td>
    </tr>
    <tr>
      <td>Заряд аккумулятора</td>
      <td>{{ product.accum_volume }}</td>
    </tr>
    <tr>
      <td>Наличие слота для карты памяти</td>
      <td>{{ product.sd }}</td>
    </tr>
    <tr>
      <td>Максимальный объем карты памяти</td>
      <td>{{ product.sd_volume_max }}</td>
    </tr>
    <tr>
      <td>Разрешение камеры</td>
      <td>{{ product.main_cam_mp }}</td>
    </tr>
   <tr>
      <td>Разрешение фронтальной камеры</td>
      <td>{{ product.frontal_cam_mp }}</td>
    </tr>
  </tbody>
</table>
</body>
</html>
